

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.weather-container
{
	margin: auto;
	text-align: center;
}

.container h1
{
	margin: auto;
	text-align: center;
}

#qunit, #qunit-fixture
{
	display: none;
}














